@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.header {
    width: 100%;
}

.logo {
    color: #000;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 20px;
}
