.TimeBlock {
    margin: 0 auto;
    width: 295px;
    text-align: start;
    margin-top: 8em;
}

.TimeNumber {
    font-size: 70px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    /* width: 280px; */
}

.TimeBlockButton {
    display: flex;
    justify-content: space-around;
}

.TimeBlockButton button {
    font-family: "Inter", sans-serif;
    width: 40%;
    height: 50px;
    border: 3px solid rgb(127, 127, 127);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 2em;
}

.TimeBlockButton button:hover {
    background-color: #fff;
    transform: scale(1.1);
}
